* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ingredients-status-wrap {
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: #fffaef;
}

.refrigerator-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 8px solid #a1c8c4;
  border-radius: 30px;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
}

.refrigerator-wrap:before {
  position: absolute;
  bottom: -18px;
  left: 10%;
  content: '';
  width: 50px;
  height: 10px;
  background-color: #1b4a5e;
}

.refrigerator-wrap:after {
  position: absolute;
  bottom: -18px;
  right: 10%;
  content: '';
  width: 50px;
  height: 10px;
  background-color: #1b4a5e;
}

.filter {
  padding: 20px;
  border-bottom: 8px solid #a1c8c4;
}

.filter input {
  width: 100%;
  padding: 10px;
  border: 4px solid #a1c8c4;
  border-radius: 6px;
  color: #1b4a5e;
  font-size: 16px;
}

.filter input:focus {
  outline: none;
}

.filter input::-webkit-input-placeholder {
  color: #a1c8c4;
}

.refrigerator {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.status-list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  padding: 12px;
  gap: 25px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 220px);
}

.status-list li {
  position: relative;
  width: 130px;
  height: 130px;
  background-color: #d4e8df;
  border-radius: 20px;
  text-align: center;
  padding: 15px;
  color: #1b4a5e;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.status-list li span {
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 2;
  height: 22px;
  padding: 0 5px;
  background-color: green;
  color: #fff;
  font-size: 12px;
  border-radius: 10px;
  font-weight: 400;
  line-height: 22px;
}

.status-list li.expired {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.status-list li.warning {
  background-color: rgba(246, 133, 40, 0.5);
}

.status-list li span.expired {
  background-color: #000;
}

.status-list li span.warning {
  background-color: red;
}

.status-list li img {
  width: 80%;
}

.layer-info {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.65);
  color: #fff;
  text-align: left;
  padding: 4px;
  font-size: 13px;
  font-weight: 400;
  border-radius: 15px;
  opacity: 0;
  transform: translateX(10px);
  transition: all 0.3s ease;
  text-align: center;
  line-height: 1.5;
}

.layer-info strong {
  display: block;
  font-size: 18px;
}

.status-list li:hover .layer-info {
  opacity: 1;
  transform: translateX(0);
}

.layer-info div:first-child {
  margin-bottom: 5px;
}

.button-info {
  position: absolute;
  right: 5px;
  bottom: 6px;
  z-index: 2;
  color: #000;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.button-info.close {
  color: #fff;
}

.status-list li.expired .button-info {
  color: lightgray;
}

.li-selected {
  border: 5px solid #709ea3;
}

.status-list li.li-selected>span {
  top: -10px;
  right: -10px;
}

.go-recipe {
  position: absolute;
  width: 100%;
  bottom: 5px;
  left: 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  text-align: center;
  z-index: 3;
  padding: 10px;
  background-color: #fffaef;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.go-recipe button {
  width: 40%;
  background-color: #f68528;
  border-radius: 20px;
  font-size: 18px;
}

.go-recipe button.button-delete {
  background-color: #a1c8c4;
}

.ingredients-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.no-ingredients {
  align-self: center;
  text-align: center;
  color: #56868d;
  font-size: 16px;
}

.fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.2s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}