.refridge-border{
    width: 30%;
    height: 90vh;
    margin: 2% auto;
    border: 10px solid #5a8c93;
    border-radius: 7vh;
    overflow: hidden;
}

.main-top{
    display: flex;
    justify-content: center;
    align-items: column;
    background-color: #b6ddda;
    border-bottom: 10px solid #5a8c93;
    margin: 0;
}

.refridge-main {
    width: 10vh;
    padding-top: 15%;
}

.main-logo {
    padding-bottom: 5%;
    font-size: 7vh;
}

.ingredient {
    font-size: 3vh;
    margin: 0;
    background-color: #fffaef;
    border-bottom: 10px solid #5a8c93;
}

.ingredient img {
    width: 25%;
}

.ingredient > div {
    display: inline-block;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.ingredient:hover {
    background-color: rgba(40, 173, 20, 0.392);
    background: linear-gradient(to right, rgba(40, 173, 20, 0.053), rgba(40, 173, 20, 0.53));
}

.expiration {
    font-size: 5vh;
    margin: 0;
    background-color: #fffaef;
    border-bottom: 10px solid #5a8c93;
}

.main-bottom{
    display: flex;
    justify-content: center;
    align-items: column;
    text-align: center;
    padding: 1%
}

.main-bottom > div {
    display: inline-block;
    width: 100%;
}

.main-bottom > div > div {
    font-size: 3vh;
    font-weight: 700;
}

.main-bottom img {
    width: 7vh;
}