body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100vh; /* 전체 화면 높이 */
}

.refridge-border:before {
    position: absolute;
    bottom: -18px;
    left: 10%;
    content: '';
    width: 50px;
    height: 10px;
    background-color: #1b4a5e;
  }
  
  .refridge-border:after {
    position: absolute;
    bottom: -18px;
    right: 10%;
    content: '';
    width: 50px;
    height: 10px;
    background-color: #1b4a5e;
  }

.refridge-border{
    position: relative;
    min-width: 370px;
    width: 100%;
    /* min-height: 650px; */
    height: 100%;
    margin: 2% auto;
    border: 10px solid #a1c8c4;
    border-radius: 30px;
    overflow: hidden;
    flex: 1; /* 남는 공간 차지 */
}

.main-top{
    display: flex;
    justify-content: center;
    align-items: column;
    background-color: #d4e8df;
    border-bottom: 10px solid #a1c8c4;
    height: 147px
    margin: 0;
}

.refridge-main {
    width: 11vh;
    padding-top: 15%;
    padding-right: 20%;
}

.main-logo {
    padding-top: 5%;
    padding-bottom: 2%;
    font-size: 5vh;
}

.content{
    height: calc(100vh - 300px);
}

.ingredient {
    font-size: 30px;
    height: 50%;
    margin: 0;
    padding: 15px;
    background-color: #fffaef;
    border-bottom: 10px solid #a1c8c4;
}

.ingredient img {
    width: 25%;
}

.ingredient > div {
    display: inline-block;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.ingredient:hover {
    background-color: rgba(40, 173, 20, 0.392);
    background: linear-gradient(to right, rgba(40, 173, 20, 0.053), rgba(40, 173, 20, 0.53));
}

.expiration {
    font-size: 30px;
    margin: 0;
    padding: 15px;
    height: 50%;
    background-color: #fffaef;
}

.expiration > div {
    display: inline-block;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.main-bottom{
    display: flex;
    justify-content: center;
    align-items: column;
    text-align: center;
    width: 100%;
}
